name: Deploy to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Debug Secrets
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USERNAME: ${{ secrets.EC2_USERNAME }}
        run: |
          echo "USERNAME=$USERNAME"
          echo "HOST=$HOST"

      - name: Deploy to EC2
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USERNAME: ${{ secrets.EC2_USERNAME }}
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no $USERNAME@$HOST '
            cd /home/ubuntu/Eat-with-me-POS
            git pull origin main
            npm install
            npx prisma generate
            npm run build
            cp -r ./prisma ./dist
            pm2 restart backend
            pm2 save
          '
