name: Deploy to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Debug Secrets
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USERNAME: ${{ secrets.EC2_USERNAME }}
        run: |
          echo "USERNAME=$USERNAME"
          echo "HOST=$HOST"

      - name: Deploy to EC2
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USERNAME: ${{ secrets.EC2_USERNAME }}
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no $USERNAME@$HOST '
            set -e
            cd /home/ubuntu/Eat-with-me-POS
            # Discard any local changes (BEFORE pulling new code)
            git reset --hard
            git clean -fd
            git pull origin main
            rm -rf node_modules
            npm install
            npm install @prisma/client
            npx prisma generate --schema=prisma/master.prisma
            npx prisma generate --schema=prisma/schema.prisma
            npx tsc
            pm2 start dist/server.js --name backend || pm2 restart backend
            pm2 save
          '
